@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f0e2c5;
}
.header-font {
  font-family: "Playfair Display SC", serif;
}
.body-font {
  font-family: "Lato", serif;
}
.btn-explore {
  position: relative;
  opacity: 0;
  animation: fadeInCenter 1.5s ease forwards;
}

@keyframes fadeInCenter {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.btn-explore,
.btn-send {
  display: inline-block;
  background-color: #49281a;
  color: blanchedalmond;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
}
.text-primary {
  color: #f0e2c5;
}
.text-secondary {
  color: #49281a;
}
/* card section */
.card {
  border: 1px solid #000;
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  display: inline-block;
}
.card-img-top {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card-title {
  margin: 10px;
}
.card-text {
  line-height: 1.5;
}
.price {
  font-weight: bold;
  font-style: italic;
}
.btn {
  display: block;
  background-color: #49281a;
  color: blanchedalmond;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.btn-explore:hover,
.btn:hover,
.btn-send:hover {
  border: 2px solid #f0e2c5;
  background-color: #f0e2c5;
  color: #49281a;
}

/* header section */
header {
  display: block;
  text-align: center;
  margin: 50px auto;
  padding: 10px;
  height: 100%;
  width: 90%;
  background: url(images/bg-img1.png) top left no-repeat,
    url(images/bg-img2.png) top right no-repeat;
  background-size: contain, contain;
}

header h1 {
  font-size: 3.5rem;
}
header p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
}
header a {
  padding: 10px 30px;
  border-radius: 6px;
  color: #f0e2c5;
  text-decoration: none;

  font-family: "Lato", sans-serif;
}

nav {
  padding: 20px 0;
  background-color: #49281a;
  text-align: center;
  position: sticky;
  top: 0;
}
nav a {
  color: #f0e2c5;
  text-decoration: none;
  margin-right: 20px;
  padding: 8px;
  font-family: "Lato", sans-serif;
}
nav a:hover {
  border-bottom: 2px solid #f0e2c5;
}
.container {
  width: 200px;
  height: 150px;
  margin: 20px auto;
  position: relative;
  /* background : color image repeat attachment position */
}
.bg-small {
  position: absolute;
  left: 200px;
  background-image: url(images/Bagel\ with\ Cream\ Cheese.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-large {
  position: absolute;
  right: 200px;
  background-image: url(images/Bagel\ with\ Cream\ Cheese.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
section {
  margin-left: 20px;
}
/* over-menu section */
.menu-cards {
  text-align: center;
}
#our-menu {
  padding: 50px;
}
#about-us,
#contact-us {
  padding: 30px;
}
#our-menu h2,
#about-us h2,
#contact-us h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
  color: #49281a;
  font-size: 3rem;
}
#our-menu h3 {
  font-family: "Lato", sans-serif;
  padding: 20px 0 40px 0;
  font-size: 1.5rem;
}
#about-us p,
#contact-us p {
  padding: 10px 0;
  text-align: justify;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
}
#our-menu p {
  line-height: 1.5;
}
/* contact-us section */
contact-us form {
  font-family: "Lato", serif;
  width: 70%;
}
#contact-us form div {
  margin-bottom: 5px;
  padding: 10px 0;
}
#contact-us label {
  width: 30%;
  display: inline-block;

  font-family: "Lato", sans-serif;
}
.form-control {
  width: 60%;
  border: none;
  outline: none;
  background-color: #f0e2c5;
  border-bottom: 1px solid #49281a;
}

.but {
  width: 200px;
  background-color: #49281a;
  color: #f0e2c5;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 25px 0;
  font-family: "Lato", serif;
}
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #49281a;
  color: #f0e2c5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;
}

.to-top:hover {
  color: #6d4534; /* Change color on hover */
}
